.profile-details
{
    background-color: aliceblue;

}
.profile-photo
{
    background-color: #0077B5;

}
.profile
{
    background-color: #0077B5;
    
}
.p_txt{
    font-size: 14px;
}
.personal-detail
{
    background-color: #0077B5;
    
}
.contact{
    background-color: aliceblue;


}
.education
{
    background-color: aliceblue;
    
}
.education1
{
    background-color: white;
}
.touch
{
    background-color: aliceblue;
}
.get-in-touch
{
    background-color: white;
}
.hobbies
{
    background-color: white;
}

.l-e{
    background-color: aliceblue;
    
}
.language
{
    background-color: aliceblue;

}
.language1
{
    background-color: white;
}

.emp{
    background-color: aliceblue;
}
.emp1
{
    background-color: white;
}
.skills
{
    background-color: aliceblue;
}

.skill-detail
{
    background-color:white;
}
.project
{
    background-color: aliceblue;

}
.reference
{
    background-color: aliceblue;
    
}

.reference1
{
    background-color: white;
}